$global-max-width: 1440px;
$vertical-rhythm: 1.5rem;
$font-ratio: 1.25;

$s480: 480px;
$s640: 640px;
$s768: 768px;
$s960: 960px;
$s1024: 1024px;
$s1280: 1280px;
$s1440: 1440px;
$s1920: 1920px;

$mq-iPadRetina: "and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)";

