// Generals
@import "../../../node_modules/normalize-scss/sass/normalize/import-now";
@include normalize();

@import "./_colors.scss";
@import "./_variables.scss";
@import "./_functions.scss";
@import "./_mixins.scss";
@import "./_media-queries.scss";
@import "./_utilities.scss";
@import "./_typography.scss";
@import "./_globals.scss";

// Components
@import "./components/_header.scss";
@import "./components/_hero.scss";
@import "./components/_content.scss";
@import "./components/_footer.scss";
@import "./components/_form.scss";
@import "./components/_main-cta.scss";
@import "./components/_slider.scss";
@import "./components/_text.scss";

